* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cardsContainer {
  height: 100vh;
  width: 50vw;
  background: lightblue;
  margin: 0 auto;
}

.card {
  border: 1px solid gray;
}

.icon-and-title-wrapper {
  display: flex;
  border-bottom: solid ipx lightgray;
}